/* Table of Content
==================================================
  1.0  -  Reset
==================================================*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select { background:transparent; border:0; font-size:100%; margin:0; outline:0; padding:0; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
del { text-decoration:line-through; }
hr { background-color: #767676; border:0; clear:both; color:transparent; height:1px; margin:20px 0; padding:0; }
small { font-size: 80%; }
mark { background-color:#ffffb3; font-style:italic }
input, select { vertical-align:middle; }
ins { background-color:red; color:white; text-decoration:none; }
ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }

/*--------------------------------------------------------------
1.1 - Document, Body & Sections
--------------------------------------------------------------*/
  
html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice) */
  -webkit-box-sizing: inherit; box-sizing: inherit;
}

:before, :after { text-decoration: inherit; vertical-align: inherit; }	

html { 
  height:100%; 
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word; 
}

html, body { overflow-x:hidden; width:100%; }

body, button, input, textarea, select, optgroup { font-weight: normal; font-size: 16px; line-height:28px; margin: 0; }

/*--------------------------------------------------------------
1.2 - Transition
--------------------------------------------------------------*/

a, input[type="submit"], input[type="reset"], input[type="button"], button[type="button"], *[role="button"], button, .button, a.button, .dt-sc-button { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

/*--------------------------------------------------------------
1.3 - Headings
--------------------------------------------------------------*/

h1 { font-size:40px; }
h2 { font-size:34px; }
h3 { font-size:28px; }
h4 { font-size:24px; }
h5 { font-size:18px; }
h6 { font-size:16px; }

h1, h2, h3, h4, h5, h6 { line-height: 1.25em; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem; }

h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty, p:empty { display: none; }

/*--------------------------------------------------------------
1.4 - Text Elements
--------------------------------------------------------------*/

a { background-color: transparent; text-decoration:none; }
a:focus, a:hover, a:active { outline: 0; text-decoration: none; }

p { margin-bottom: 0.75rem; }	

b, strong { font-weight: bold; }
em, i, dfn, cite { font-style: italic; }

address { display:block; margin: 0 0 1.5em; }

blockquote { border-left: 2px solid #848484; margin: 1rem 0; padding: 0 0 0 1rem; }
blockquote > p { margin: 0 0 1rem; }
blockquote > p:only-child, blockquote > p:last-of-type { margin-bottom: 0; }

pre { border: 1px solid #e2e4e7; font-family: monospace;  margin-top: 0.75em; margin-bottom: 0.75em; max-width: 100%; overflow: auto; padding: 1.6em; white-space: pre; }

code, kbd, tt, var { font-family: monospace; font-size: 15px; font-size: 0.9375rem; }

abbr, acronym { border-bottom: 1px dotted #848484; cursor: help; }	
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline; }

mark, ins { background: #fff9c0; text-decoration: none; }

big { font-size: 125%; }
small { font-size: 80%; }	

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }	

hr { background-color: #eaeaea; border: 0; height: 1px; margin-bottom: 1.5em; }

/* Ordered & Unordered Lists */
ol ol, ol ul, ul ol, ul ul { margin: 0; }

ul, ol { margin: 0 0 1.5em; padding-left: 1rem; }
li > ul, li > ol { padding: 10px 0 0 2rem; }

ul { list-style: disc; }
ol { list-style: decimal; }
ul ul { list-style-type: circle; }

li { line-height: 1.8; padding-bottom: 10px; }
ul > li:last-child, ol > li:last-child { padding-bottom: 0; }

/* Definition Lists */
dt { font-weight: bold; }
dd { margin: 0 1.5em 1.5em; }
dl dl, dl ol, dl ul, ol dl, ul dl { margin: 0; }

/* Tables  */
table { border-collapse: collapse; border-spacing:0; border-top:1px solid rgba(0, 0, 0, 0.1); clear:both;  margin: 0 0 1rem; width: 100%; }
table td, table th { border-bottom:1px solid rgba(0, 0, 0, 0.1); padding: 0.5em; text-align:center; word-break: break-all; }
tbody tr:nth-child(2n+1) { background:rgba(0, 0, 0, 0.03); }

th a:hover, td a:hover { text-decoration: underline; }

/*--------------------------------------------------------------
1.9 - Embedded Content & Images
--------------------------------------------------------------*/

/*
  * Change the alignment on media elements in all browsers (opinionated).
*/

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/**
  * Add the correct display in IE 9-.
*/
audio, video { display: inline-block; }

/**
  * Add the correct display in iOS 4-7.
*/
audio:not([controls]) { display: none; height: 0; }

/**
  * Remove the border on iframes in all browsers (opinionated).
*/
iframe { border-style: none; }

/**
  * Remove the border on images within links in IE 10-.
*/
img { border-style: none; }

/**
  * Change the fill color to match the text color in all browsers (opinionated).
*/
svg:not([fill]) { fill: currentColor; }

/**
  * Hide the overflow in IE.
*/
svg:not(:root) { overflow: hidden; }

figure { margin: 1em 0;  /* Extra wide images within figure tags don't overflow the content area. */ }

img { height:auto; max-width:100%; }
a img { border: 0; }

.column img { max-width:100%; height:auto; display:inherit; }

/*--------------------------------------------------------------
1.8 - Forms
--------------------------------------------------------------*/

/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
*/

button,
input,
textarea,
select,
optgroup {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  transition: all 0.3s linear 0s;
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
*/

button,
input { /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
*/

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *		`fieldset` elements in all browsers.
*/

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
  display: inline-block;
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
*/

textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit; opacity: 0.54;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit; opacity: 0.54;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit; opacity: 0.54;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit; opacity: 0.54;
}	

fieldset { border: 1px solid; padding: 15px; margin: 0 0 20px; }
legend { font-weight: bold; }

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"] { border:1px solid; display: block; margin: 0; padding: 14px; width:100%;  -webkit-appearance:none; appearance:none; -webkit-border-radius: 0; border-radius: 0; margin-bottom: 30px;} 

textarea { height:115px; overflow:auto; resize:none; }

input[type="submit"], input[type="reset"], input[type="button"], button[type="button"], *[role="button"], button, .button, a.button, .dt-sc-button, .elementor-button.dt-elementor-button,

.yith-wcwl-add-to-wishlist a, .yith-wcqv-button, .dt-wcsg-button { border: none; cursor: pointer; display: inline-block; float: none; font-size: 16px; font-style: normal; font-weight: 500; line-height: 1; margin: 10px 0 0; padding: 15px 35px; text-transform: capitalize; -webkit-appearance: none; appearance: none; -webkit-border-radius: 2em; border-radius: 2em; }

.aligncenter input[type="submit"], .aligncenter input[type="reset"], .aligncenter input[type="button"], .aligncenter button[type="button"], .aligncenter *[role="button"], .aligncenter button, .aligncenter .button, .aligncenter a.button, .aligncenter .dt-sc-button { float:none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner { border:0; padding:0; margin-top:-1px; margin-bottom:-1px; }

select { height:49px; border:1px solid; width:100%; margin:0; padding: 10px 0; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; text-indent: 0.01px; text-overflow: ''; -webkit-border-radius:0; }

.selection-box { position:relative; clear:both; }
.selection-box:before, .selection-box:after { content:""; pointer-events:none; position:absolute; }
.selection-box:before { z-index:1; right:17px; top:1px; bottom:0; height:0; margin:auto; border-left:7px solid transparent; border-right:7px solid transparent; border-top:7px solid; }
.selection-box:after { width:48px; height:calc(100% - 2px); right:0; top:1px; border-left:1px solid rgba(0, 0, 0, 0.15); }
.selection-box select { margin-top:0; font-size: 14px; }

.woocommerce .select2-container .select2-dropdown, 
.woocommerce .select2-container .select2-selection--single { border-radius: 0; }

.woocommerce .select2-container .select2-selection--single,
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow { height: 50px; }

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow { width: 35px; }

.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 50px; padding-left: 15px; padding-right: 35px; }

.form-calender-icon input[type="text"], .selection-box select { padding-left: 10px; padding-right: 50px; }

#searchform { clear:both; }

.dt_ajax_subscribe_msg .success-msg { color: #15d401; }
.dt_ajax_subscribe_msg .error-msg { color:#bd0404; }
label span.required { color:#ff0000; }

/*--------------------------------------------------------------
1.8 - Interactive, Scripting & User Interaction
--------------------------------------------------------------*/

main, details { display: block; }
summary { display: list-item; }
canvas { display: inline-block; }

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
*/

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

template, dialog:not([open]), [hidden] { display: none }
.hidden { display: none !important; }


/*--------------------------------------------------------------
1.8 - Accessibility
--------------------------------------------------------------*/

/**
  * Change the cursor on busy elements in all browsers (opinionated).
*/
[aria-busy="true"] { cursor: progress; }

/*
  * Change the cursor on control elements in all browsers (opinionated).
*/
[aria-controls] { cursor: pointer; }

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
*/
[aria-disabled="true"], [disabled] { cursor: not-allowed; }

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
*/
[aria-hidden="false"][hidden] { display: initial; }
[aria-hidden="false"][hidden]:not(:focus) { clip: rect(0, 0, 0, 0); position: absolute; }


/* Text meant only for screen readers. */
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px;
  width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
1.7 - Alignments & Captions
--------------------------------------------------------------*/

.alignleft, img.alignleft { display:inline; float:left; margin-right: 1.5em; }
.alignright, img.alignright { display:inline; float:right; margin-left: 1.5em; }
.aligncenter, img.aligncenter { clear:both; display:block; margin-left:auto; margin-right:auto; }

.alignnone { float: none; display: inline-block; }
.has-text-align-left p, .alignleft { text-align: left; }
.has-text-align-center p, .aligncenter { text-align: center; }
.has-text-align-right p, .alignright { text-align: right; }

.column .aligncenter img { display: inline-block; }
.column.aligncenter, .aligncenter.wpb_column { clear: none; }

.wp-caption { margin-bottom: 15px; max-width:100%; padding: 0; text-align:center; width:100%; }
.wp-caption img { display:block; margin: 0 auto;  max-width:100%; }
.wp-caption-text, .wp-caption-dt { font-size: 0.85em; line-height: normal; margin: 0; padding: 10px 5px; text-align:center; }
.wp-caption-text:empty, .wp-caption-dt:empty { display: none; }
.wp-caption.alignnone { clear: both; }

.wp-caption.alignright { margin:0.375em 0 1.75em 1.75em; }
.wp-caption.alignleft { margin:0.375em 1.75em 1.75em 0; }

img.alignleft, img.alignright, img.aligncenter, img.alignnone,
.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter, .wp-caption.alignnone { margin-bottom: 1.75em; }

/*----*****---- << Contact Form 7 >> ----*****----*/

.wpcf7-form-control-wrap { float: left; width: 100%; }

.wpcf7-form .wpcf7-not-valid { border-color:#ff0000 !important; }
.wpcf7-form .wpcf7-not-valid-tip { display:none; }

.wpcf7-form.event-contact-form .wpcf7-not-valid { background-color:rgba(255, 0, 0, 0.1) !important; }

.wpcf7-form div.wpcf7-validation-errors, .wpcf7-form div.wpcf7-mail-sent-ok { box-sizing: border-box; clear: both; display: inline-block !important; float: none; margin-bottom: 0; margin-left: 0; margin-right: 0; padding: 15px 15px 15px 45px; width: 100%; }

.wpcf7-form div.wpcf7-validation-errors { background-color:#ffcccc; border:1px solid #ff9999; color:#d01313; position:relative; }
.wpcf7-form div.wpcf7-mail-sent-ok { background-color:#eafac0; border:1px solid #b1cf67; color:#7ba411; position:relative; }

.wpcf7-form div.wpcf7-validation-errors:before, .wpcf7-form div.wpcf7-mail-sent-ok:before { font-family: "Font Awesome 5 Free"; font-size:20px; font-style:normal; font-weight: 900; position: absolute; left: 18px; top: 15px; text-decoration: inherit; }
.wpcf7-form div.wpcf7-validation-errors:before { content:"\f057"; color:#C54228; }
.wpcf7-form div.wpcf7-mail-sent-ok:before { content:"\f058"; color:#75b632; }

.wpcf7-form .ajax-loader { bottom: -22px; left: 0; margin: 0 auto !important; position: absolute; right: 0; }

/*----*****---- <<  Prettyphoto >> ----*****----*/

body div.pp_overlay { z-index:9999; }	

/*--------------------------------------------------------------
1.11 - Default Color
--------------------------------------------------------------*/

a:hover, .gallery-caption { color:#848484; }	
.selection-box:before { border-top-color:#848484; }

th, th a, .post-edit-link:hover, 
input[type="submit"], input[type="reset"], input[type="button"], button[type="button"], *[role="button"], button, .button, a.button, .dt-sc-button, .elementor-button.dt-elementor-button, 

.yith-wcwl-add-to-wishlist a, .yith-wcqv-button, .dt-wcsg-button, 

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button[type="button"]:hover, *[role="button"]:hover, button:hover, .button:hover, a.button:hover, .dt-sc-button:hover, .elementor-button.dt-elementor-button:hover, 

.yith-wcwl-add-to-wishlist a:hover, .yith-wcqv-button:hover, .dt-wcsg-button:hover { color:#fff; }

th a:hover { color: rgba(255,255,255,0.55); }

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], textarea, select, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__placeholder, .form-calender-icon input[type="text"], ins, td a { color: inherit; }

.post-edit-link { color: #000; }
td a:hover { color: rgba(0,0,0,0.75); }	

abbr { border-color:#000; }

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], select, .woocommerce-form__label-for-checkbox > span::before, .woocommerce .woocommerce-shipping-methods input[type="radio"] ~ label::before, 	.woocommerce-page #payment.woocommerce-checkout-payment ul.payment_methods li input[type="radio"] ~ label::before, .comment-form-dt-privatepolicy input[type="checkbox"] ~ label::before, fieldset, .woocommerce .select2-container--default .select2-selection--single, .woocommerce .select2-container--default .select2-selection--multiple, .woocommerce .select2-container--default.select2-container--focus .select2-selection--multiple { border-color:rgba(0, 0, 0, 0.1); }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="range"]:focus, input[type="date"]:focus, textarea:focus, input.text:focus, input[type="search"]:focus { -webkit-box-shadow: 0 8px 6px -8px rgba(0,0,0,0.25); box-shadow: 0 8px 6px -8px rgba(0,0,0,0.25); }